{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "globals": {
    "window": true,
    "global": true,
    "globalThis": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    },
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false
  },
  "rules": {
    "no-shadow": "off",
    "no-console": "warn",
    "no-debugger": "warn",
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^@/"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "never",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}